@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply min-h-screen antialiased overflow-hidden;
  }
  #root {
    @apply min-h-screen overflow-hidden;
  }
}